/* Theme Colours */
:root {
    --rounding: 10px; /* Sets the roundness of elements */
    --backdrop-bg: rgba(47, 93, 98, .3); /* Sets colour for the background when backdrops are enabled */
    --buttons: #2f5d62; /* Sets the colour of the buttons text */
    --buttons-bg: #c9e4c5; /* Sets the colour of the buttons background */
    --buttons-hover: #aec4a7; /* Sets the colour of the buttons background when hovered */
    --buttons-link: #5e8b7e; /* Sets the colour of the buttons text when hovered and a link/href */
    --dialog-bg: #0d7377; /* Sets the colour of the pop-up dialog background */
    --card-hover: rgba(0, 0, 0, .3); /* Sets colour for the background when cards are hovered */
    --card-icon: transparent; /* Sets colour for the background of the icon in cards */
    --card-icon-hover: rgba(190, 167, 196, 0.5); /* Sets colour for background of the icon when cards are hovered */
    --card-indicator: #2f5d62; /* Sets colour for the background of the indicator on cards */
    --card-indicator-rounding: 0px 0px 0px var(--rounding); /* Sets the roundness of the indicator on cards, use just "var(--rounding)" for completely spherical */
    --card-indicator-margin: 0; /* Sets the margin of the indicator on cards, use just ".25em" for spherical spacing  */
    --icon-bg-hover: rgba(47, 93, 98, .2); /* Sets colour for the background of the icons when hovered */
    --progress-outer: rgba(0, 0, 0, .5); /* Sets colour for the background of the progress bar */
    --progress-outer-border: rgba(195, 167, 196, 0.22); /* Sets colour for the border of the progress bar */
    --progress-inner: rgba(167, 196, 188, .75); /* Sets colour for the background of the progress bar with progress */
    --default-card-bg1: #698474; /* Sets the colour of the default card background */
    --default-card-bg2: #889e81; /* Sets the colour of the default card background */
    --default-card-bg3: #bac7a7; /* Sets the colour of the default card background */
    --default-card-bg4: #004445; /* Sets the colour of the default card background */
    --default-card-bg5: #aec4a7; /* Sets the colour of the default card background */
    --collapse-menu-hover: rgba(237, 223, 238, 0.2); /* Sets the colour for hover state on the collapse menu items */
    --dropdown-bg: rgba(238, 223, 238, 0.2); /* Sets the background colour for dropdown menus */
    --playback-progress: rgba(167, 196, 188, .75); /* Sets the colour of the playback progress bar */
    --playback-progress-height: 0; /* Sets the height of the playback progress bar on "Continue Watching" */
    --transcode-progress: rgba(255, 145, 0, 0.3); /* Sets the colour of the transcoding progress bar */
    --admin-add: #094e0f; /* Sets the colour of the admin "add new" button text */
    --admin-add-bg: #aee2ae; /* Sets the background colour of the admin "add new" button */
    --admin-refresh: #293b5f; /* Sets the colour of the admin "refresh" button text */
    --admin-refresh-bg: #dbe6fd; /* Sets the background colour of the admin "refresh" button */
    --admin-restart: #e27802; /* Sets the colour of the admin "restart" button text */
    --admin-restart-bg: #fcecdd; /* Sets the background colour of the admin "restart" button */
    --admin-shutdown: red; /* Sets the colour of the admin "shutdown" button text */
    --admin-shutdown-bg: pink; /* Sets the background colour of the admin "shutdown" button */
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

#loginPage {
    background: url(https://i.imgur.com/Zsalrtb.jpg);
    background-size: cover
}

.manualLoginForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

#loginPage .sectionTitle {
    display: none
}

#loginPage .button-submit {
    margin-top: 50px;
    background: var(--buttons);
}

#loginPage .checkboxContainer {
    display: none
}

#loginPage .inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: var(--buttons);
}

#loginPage .sectionTitle {
    display: none
}

#loginPage .button-submit {
    margin-top: 50px;
    background: var(--buttons);
}

#loginPage .checkboxContainer {
    display: none
}

.skinHeader-withBackground {
  text-shadow: 0 0 5px black;
  background-color: transparent !important;
}

.emby-button-foreground::after {
  content: "";
  height: 2px;
  width: 0%;
  background: var(--buttons-link);
  position: absolute;
  bottom: -35%;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.15s ease-in-out;
}

.emby-tab-button:hover .emby-button-foreground::after {
  width: 75%;
}

body.force-scroll {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
}

.skinHeader {
  position: static;
  width: 100%;
  align-self: flex-start;
}

.mainAnimatedPages {
  height: 100vh;
  position: relative !important;
  overflow: hidden;
}

.libraryPage:not(.noSecondaryNavPage) {
  padding: 0 !important;
}

div#itemDetailPage {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

@media (min-width: 40em) {
  .dashboardDocument .skinBody {
    left: 20em;
    width: calc(100vw - 20em);
  }
}

div[data-role="page"] {
  margin: 0 !important;
  padding: 0 !important;
  position: static;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  -webkit-mask: linear-gradient(
    to bottom,
    transparent,
    black 15px calc(100% - 15px),
    transparent
  );
  mask: linear-gradient(
    to bottom,
    transparent,
    black 15px calc(100% - 15px),
    transparent
  );
}

div[data-role="page"] > * {
  padding-top: 16px;
}

.layout-tv .mainAnimatedPages {
  overflow: visible;
  mask: none;
  -webkit-mask: none;
}

div#videoOsdPage {
  overflow: hidden !important;
  margin-top: 0 !important;
  -webkit-mask: none !important;
  mask: none !important;
}

div[data-role="page"]:not(.withTabs) {
  margin-top: 0 !important;
}

div#itemBackdrop {
  display: none;
}

.skinHeader .emby-button-foreground, .skinHeader .emby-tab-button {
    text-shadow: 0 0 5px black;
}

.skinHeader .emby-button-foreground:hover, .skinHeader .emby-tab-button:hover {
    color: var(--buttons-link)
}

.skinHeader.semiTransparent {
    background-color: rgba(0, 0, 0, 0)
}

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
    background: 0 0;
    background-color: rgba(0, 0, 0, 0)
}

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
    background: 0 0;
    background-color: rgba(0, 0, 0, 0)
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: var(--buttons);
}

.formDialogHeader {
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding)
}

.formDialogFooter {
    border-bottom-left-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding)
}

.blurhash-canvas,
.button-flat,
.cardContent,
.cardContent-button,
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButton-hover,
.cardOverlayButtonIcon,
.cardPadder,
.chapterThumb,
.chapterThumbContainer,
.chapterThumbTextContainer,
.checkboxOutline,
.countIndicator,
.dialog,
.emby-input,
.emby-select-withcolor,
.emby-textarea,
.fab,
.headerButton,
.innerCardFooter,
.itemDetailImage,
.itemSelectionPanel,
.listItem-border,
.listItem:hover,
.listItemButton,
.listItemIcon,
.listItemImage,
.listItemImageButton,
.multiSelectCheckboxOutline,
.nowPlayingPageImage,
.paper-icon-button-light,
.paperList,
.playedIndicator,
.primaryImageWrapper>img,
.raised,
.sessionNowPlayingInnerContent,
.toast,
.upNextContainer,
.upNextDialog-poster-img,
.visualCardBox {
    border-radius: var(--rounding) !important;
}

.osdPoster img {
    border-radius: var(--rounding);
    border: none;
}

.mdl-slider-background-lower {
    background-color: var(--buttons-hover);
}

.mdl-slider::-moz-range-thumb {
    border-radius: var(--rounding);
    background: var(--buttons-hover);
}

.mdl-slider::-ms-thumb {
    border-radius: var(--rounding);
    background: var(--buttons-hover);
}

.mdl-slider::-webkit-slider-thumb {
    border-radius: var(--rounding);
    background: var(--buttons-hover);
}

div[data-role=controlgroup] a[data-role=button]:first-child {
    border-bottom-left-radius: var(--rounding);
    border-top-left-radius: var(--rounding)
}

div[data-role=controlgroup] a[data-role=button]:last-child {
    border-bottom-right-radius: var(--rounding);
    border-top-right-radius: var(--rounding)
}

#dashboardPage .cardContent,
#dashboardPage .sessionNowPlayingInnerContent {
    border-radius: var(--rounding) var(--rounding) 0 0 !important
}

#divVirtualFolders .cardContent,
#divVirtualFolders .cardImageContainer {
    border-radius: var(--rounding) var(--rounding) 0 0 !important
}

#userProfilesPage .cardContent,
#userProfilesPage .cardImage {
    border-radius: var(--rounding) var(--rounding) 0 0 !important
}

.cardOverlayFab-primary {
    background-color: #00000000;
    transition: 1s
}

.detailLogo {
    display: none
}

@media all and (min-width:100em) {
    .itemBackdrop::after {
        background-color: rgba(0, 0, 0, .05)
    }
}

@media all and (min-width:32em) and (max-width:100em) {
    .itemBackdrop::after {
        background-color: rgba(0, 0, 0, .1) !important
    }

    .itemBackdrop {
        height: 10em !important;
        background-image: none !important
    }
}

.cardIndicators {
    right: 0;
    top: 0
}

.cardOverlayButton {
    padding: .3em
}

.secondary.listItem-overview.listItemBodyText {
    height: 61px;
    margin: 0
}

.listItemImageButton {
    margin: auto;
    font-size: 1.6em !important
}

@media all and (min-width:100em) {
    .listItemImage.listItemImage-large.itemAction.lazy {
        height: 110px
    }

    .listItem-content {
        height: 115px
    }

    .secondary.listItem-overview.listItemBodyText {
        height: 4em;
        margin: 0
    }
}

@media all and (max-width:100em) {
    .listItemImage.listItemImage-large.itemAction.lazy {
        height: 80px
    }

    .listItem-content {
        height: 85px
    }

    .secondary.listItem-overview.listItemBodyText {
        height: 2.5em;
        margin: 0
    }
}

.section0 .cardScalable {
    display: none
}

.section0 .sectionTitle {
    display: none
}

.section0 .itemsContainer {
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.section0 button.itemAction.textActionButton {
    height: 3.5em;
    background: rgba(0, 0, 0, .5);
    border-radius: var(--rounding)
}

.section0 .overflowBackdropCard,
.section0 .overflowSmallBackdropCard {
    max-width: 9vw
}

.section0 .emby-scroller {
    margin-right: 0
}

.section0 .section0 .itemsContainer {
    flex-wrap: wrap
}

@media (max-width:75em) and (orientation:landscape) {
    .section0 {
        display: none
    }
}

@media (max-width:75em) {
    .raised.homeLibraryButton:hover {
        transition: filter 1s
    }
}

.raised.homeLibraryButton {
    transition: filter 1s
}

.homeLibraryButton {
    min-width: 12em;
    margin: .4em
}

#loginPage .readOnlyContent,
#loginPage form {
    max-width: 44em
}

#loginPage h1 {
    display: none
}

#loginPage .padded-left.padded-right.padded-bottom-page {
    margin-top: 50px
}

.material-icons.headerButton.headerButtonRight.headerUserButton.paper-icon-button-light {
    display: none
}

#scenesCollapsible {
    display: none
}


@media all and (min-width:50em) {
    .homePage .emby-scroller {
        margin-right: 0
    }

    .homePage .emby-scrollbuttons {
        display: none
    }

    .homePage .itemsContainer {
        flex-wrap: wrap
    }
}

.headerTabs.sectionTabs {
    text-size-adjust: 110%;
    font-size: 110%
}

.pageTitle {
    margin-top: auto;
    margin-bottom: auto
}

.emby-tab-button {
    padding: 1.75em 1.7em
}

.itemDetailPage .moreFromSeasonSection {
    display: none !important
}

@media only screen and (max-device-width:429px) and (max-device-height:927px) and (-webkit-device-pixel-ratio:3) {
    .layout-mobile #itemDetailPage .detailLogo {
        height: 35%;
        top: 21%
    }
}

@media only screen and (max-device-width:391px) and (max-device-height:845px) and (-webkit-device-pixel-ratio:3) {
    .layout-mobile #itemDetailPage .detailLogo {
        top: 28%
    }
}

@media only screen and (max-device-width:376px) and (max-device-height:813px) and (-webkit-device-pixel-ratio:3) {
    .layout-mobile #itemDetailPage .detailLogo {
        top: 33%
    }
}

body,
h1,
h2,
h3,
h4 {
    font-family: 'Netflix Sans' !important
}

.videoSubtitles {
    font-family: 'Netflix Sans', sans-serif !important;
    font-weight: 700 !important;
    text-shadow: 0 0 8px #000 !important
}

video::-webkit-media-text-track-display {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #000 0 0 .2em !important
}

video::-webkit-media-text-track-container {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #000 0 0 .2em !important
}

video:cue {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #000 0 0 .2em !important
}

.layout-mobile .detailRibbon {
    margin-top: 0 !important
}

.layout-mobile .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
    padding-top: 4.5rem !important
}

.backdropImage {
    filter: blur(100px) saturate(170%) contrast(150%) brightness(50%)
}

.backgroundContainer.withBackdrop {
    background-color: var(--backdrop-bg)
}

.layout-desktop .itemBackdrop::after {
    opacity: 0;
    margin-top: -30px
}

.itemProgressBar {
    height: var(--playback-progress-height);
    background: #0000
}

.itemProgressBarForeground,
.playbackProgress>div {
    background-color: var(--playback-progress);
}

.transcodingProgress>div {
    background-color: var(--transcode-progress) !important;
}

.innerCardFooter.fullInnerCardFooter.innerCardFooterClear {
    border-radius: 0 !important;
    background: rgba(0, 0, 0, 0)
}

.button-link {
    color: var(--buttons-link)
}

@media (hover:hover) and (pointer:fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: var(--buttons-hover);
        background-color: var(--icon-bg-hover)
    }
}

.emby-select,
.emby-select-withcolor {
    background-color: var(--dropdown-bg);
    border-style: hidden
}

.mdl-slider-background-lower {
    background-color: var(--buttons-hover)
}

.iconOsdProgressInner {
    background: var(--buttons-hover)
}

.upNextDialog-countdownText {
    color: var(--buttons-hover)
}

.navMenuOption:hover {
    background: var(--collapse-menu-hover)
}

.block {
    background-color: var(--buttons);
}

.checkboxIcon-checked {
    background-color: var(--buttons);
    border-style: none
}

.emby-checkbox:checked+span+.checkboxOutline {
    background-color: var(--buttons);
    border-style: none
}

.defaultCardBackground1 {
    background-color: var(--default-card-bg1)
}

.defaultCardBackground2 {
    background-color: var(--default-card-bg2)
}

.defaultCardBackground3 {
    background-color: var(--default-card-bg3)
}

.defaultCardBackground4 {
    background-color: var(--default-card-bg4)
}

.defaultCardBackground5 {
    background-color: var(--default-card-bg5)
}

.navMenuOption-selected {
    background-color: var(--buttons-hover) !important
}

progress {
    background: var(--progress-outer) !important;
    border: 1px solid var(--progress-outer-border)
}

progress::-webkit-progress-bar {
    background: rgba(0, 0, 0, .5) !important;
    border: 0 solid var(--progress-outer-border)
}

progress::-moz-progress-bar {
    background: var(--progress-inner)
}

progress::-webkit-progress-value {
    background: var(--progress-inner)
}

#divRunningTasks span {
    color: var(--progress-inner) !important
}

.taskProgressOuter {
    background: var(--progress-outer) !important;
    border: 1px solid var(--progress-outer-border)
}

.taskProgressInner {
    background: var(--progress-inner) !important
}

#scheduledTasksPage span {
    color: var(--progress-inner) !important
}

.progressring-spiner {
    border-color: var(--buttons-hover);
    border-width: .35em
}

.progressring {
    margin: .4em
}

.progressring-bg {
    display: none
}

.blurhash-canvas {
    filter: opacity(60%) saturate(60%)
}

div[data-role=controlgroup] a.ui-btn-active {
    background: rgba(0, 0, 0, .5) !important;
    color: #fff !important
}

a[data-role=button]:hover {
    background: var(--buttons-hover) !important
}

div[data-role=controlgroup] a[data-role=button]+a[data-role=button] {
    margin: 0 !important
}

.button-submit:hover {
    background: var(--buttons-hover)
}

.cardOverlayButtonIcon:hover {
    background-color: var(--card-icon-hover) !important
}

.cardOverlayButtonIcon {
    background-color: var(--card-icon) !important
}

.cardOverlayContainer {
    border-radius: var(--rounding);
    background-color: var(--card-hover)
}

.button-flat:hover {
    color: var(--buttons);
}

.actionSheetMenuItem:hover {
    background-color: var(--buttons);
}

.listItemIcon:not {
    background-color: var(--buttons) !important;
}

.dashboardSection .sectionTitleTextButton > .material-icons.material-icons {
    margin-left: .5em;
}

.cardBox.visualCardBox {
    box-shadow: none;
}

.dashboardFooter {
    display: none
}

.button-submit:focus {
    background-color: var(--buttons);
}

.toastVisible {
    color: var(--buttons);
    background: var(--buttons-bg)
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .backdropImage {
            filter: none
        }

        .backgroundContainer.withBackdrop {
            background-color: rgba(0, 0, 0, 0.7)
        }
    }
}

.inputLabelFocused {
    color: var(--buttons-hover)
}

.listItemIcon {
    background-color: var(--buttons) !important;
}

.mdl-spinner__layer-1 {
    border-color: var(--buttons);
}

.mdl-spinner__layer-2 {
    border-color: var(--buttons-link)
}

.mdl-spinner__layer-3 {
    border-color: var(--buttons-hover)
}

.mdl-spinner__layer-4 {
    border-color: #dfeeea
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator {
    background: var(--card-indicator) !important;
    border-radius: var(--card-indicator-rounding) !important;
    margin: var(--card-indicator-margin) !important;
    padding: 0.1em;
    color: white;
}

.textActionButton:hover {
    text-decoration: none !important;
    color: var(--buttons-hover) !important
}

.listItemIcon-transparent {
    background-color: rgba(0, 0, 0, 0) !important
}

.volume_off {
    color: var(--buttons-hover) !important
}

.dialog {
    background-color: var(--dialog-bg);
}

.listItem-border {
    border-style: none
}

.endsAt,
.endsAtText {
    display: none !important
}

.playstatebutton-icon-played {
    color: var(--buttons-link)
}

.playstatebutton-icon-played:hover {
    color: var(--buttons);
}

:not(.detailImageContainer)>.card:not(.overflowSquareCard) .cardImageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-size: cover;
    transition: .4s
}

:not(.detailImageContainer)>.card:not(.overflowSquareCard):hover .cardImageContainer::before {
    transform: scale(1.02)
}

:not(.detailPageSecondaryContainer)>.card:not(.overflowSquareCard) .cardImageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-size: cover;
    background-image: none !important;
    transition: .4s
}

:not(.detailPageSecondaryContainer)>.card:not(.overflowSquareCard):hover .cardImageContainer::before {
    transform: scale(1.02)
}

.button-accent-flat {
    color: var(--buttons-link) !important
}

.jstree-default .jstree-wholerow-clicked {
    background: var(--buttons-link) !important
}

.metadataSidebarIcon {
    color: var(--buttons);
}

.jstree-wholerow-hovered {
    background: var(--buttons-link) !important
}

.collapseContent,
.formDialogFooter:not(.formDialogFooter-clear),
.formDialogHeader:not(.formDialogHeader-clear),
.paperList,
.visualCardBox {
    background-color: rgba(0, 0, 0, 0) !important
}

.ratingbutton-icon-withrating {
    color: var(--buttons);
}

.playerStats-stat-label,
.sectionTitleTextButton:hover {
    color: var(--buttons-hover) !important
}

.selectionCommandsPanel {
    background: var(--buttons);
}

.itemSelectionPanel {
    border-top-color: var(--buttons);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: var(--buttons);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: var(--buttons);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: var(--buttons);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1
}

.button-submit {
    background: var(--buttons);
}

.overview-expand emby-button:hover {
    color: var(--buttons);
}

#btnShutdown.raised.emby-button:hover,
#deviceDeleteAll.raised.button-alt.headerHelpButton.emby-button:hover {
    color: var(--admin-shutdown);
    background: var(--admin-shutdown-bg)
}

#btnRestartServer.raised.emby-button:hover {
    color: var(--admin-restart);
    background: var(--admin-restart-bg)
}

.raised.btnRefresh.emby-button:hover {
    color: var(--admin-refresh);
    background: var(--admin-refresh-bg)
}

.raised.emby-button:hover {
    color: var(--buttons);
    background: var(--buttons-hover)
}

.fab.btnAddDevice.submit.sectionTitleButton.emby-button:hover,
.fab.btnAddProvider.submit.emby-button:hover,
.fab.btnAddUser.submit.sectionTitleButton.emby-button:hover {
    color: var(--admin-add);
    background: var(--admin-add-bg)
}

.sessionCardFooter.cardFooter,
.visualCardBox-cardFooter {
    font-family: 'Netflix Sans';
    font-size: larger;
    color: #ffffff;
    border-bottom-left-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding)
}

.emby-checkbox-label:hover {
    color: var(--buttons-hover)
}

.videoOsdBottom {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)) !important;
    padding-top: 1em;
}

.headerTop {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)) !important
}

.sliderBubble {
    border-bottom-left-radius: var(--rounding);
    border-bottom-right-radius: var(--rounding);
    border-top-left-radius: var(--rounding);
    border-top-right-radius: var(--rounding);
    color: var(--buttons);
    background: var(--buttons-hover);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2)
}

.subtitleSyncContainer {
    background: rgba(0, 0, 0, .5)
}

.layout-desktop .detailImageContainer .card {
    top: -3em
}

.cardImageIcon {
    position: relative;
}

.layout-desktop .detailPageSecondaryContainer {
    margin-top: -1.75em
}

/*Tweak series/movie/album title screen*/
.detailImageContainer .card {
    position: fixed;
}

.detailSectionContent {
    max-width: 66em;
}

.layout-desktop .detailSection {
    margin-top: 1em;
}

.trackSelections {
    max-width: 22em;
}

.detailLogo {
    display: none;
}

.detailPagePrimaryContainer {
    background: rgba(0, 0, 0, 0) !important;
}

.layout-desktop .detailRibbon {
    background: rgba(0, 0, 0, 0) !important;
    margin-top: 0;
}

@media all and (min-width: 32em) {
    .itemBackdrop {
        display: none;
    }

    .layout-desktop .detailRibbon {
        margin-top: 20vh;
    }
}

#itemDetailPage .detailLogo {
    position: absolute;
    display: block;
    left: 0;
    margin-top: 0;
    margin-left: 32.5%;
    max-height: 100px;
    background-position: 0 50%;
    -webkit-filter: drop-shadow(0 0 10px rgba(2, 2, 2, .75));
    filter: drop-shadow(0 0 10px rgba(2, 2, 2, .75));
}

.layout-mobile .itemBackdrop {
    margin-top: 0;
}

.layout-mobile .detailLogo {
    display: none !important;
}

#itemDetailPage .itemName.infoText.parentNameLast, #itemDetailPage .parentName.focuscontainer-x {
    display: none;
}

.hide+.detailPageWrapperContainer .itemName, .hide+.detailPageWrapperContainer .parentName {
    display: block !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast, .layout-mobile #itemDetailPage .parentName.focuscontainer-x {
    display: block;
}

/*Shrink and square (or round) cast thumnails*/
@media all and (min-width: 131.25em) {
    #castContent .card.overflowPortraitCard {
        width: 6.3vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 120em) and (max-width: 131.25em) {
    #castContent .card.overflowPortraitCard {
        width: 6.4vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 100em) and (max-width: 120em) {
    #castContent .card.overflowPortraitCard {
        width: 7.6vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 87.5em) and (max-width: 100em) {
    #castContent .card.overflowPortraitCard {
        width: 9.3vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 75em) and (max-width: 87.5em) {
    #castContent .card.overflowPortraitCard {
        width: 10.5vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 50em) and (max-width: 75em) {
    #castContent .card.overflowPortraitCard {
        width: 15vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 43.75em) and (max-width: 50em) {
    #castContent .card.overflowPortraitCard {
        width: 20.1vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 25em) and (max-width: 43.75em) {
    #castContent .card.overflowPortraitCard {
        width: 31.2vw !important;
        font-size: 90% !important;
    }
}

@media all and (max-width: 25em) {
    #castContent .card.overflowPortraitCard {
        width: 40vw !important;
        font-size: 90% !important;
    }
}

.cardPadder {
    background-color: #0000 !important;
    box-shadow: none !important;
}

/*Correct image aspect ratio behaviour, set border-radius to zero for square tiles*/

@media all and (min-width: 131.25em) {
    #castContent .cardScalable {
        width: calc(6.3vw - 0.6em) !important;
        height: calc(6.3vw - 0.6em) !important;
    }
}

@media all and (min-width: 120em) and (max-width: 131.25em) {
    #castContent .cardScalable {
        width: calc(6.4vw - 0.6em) !important;
        height: calc(6.4vw - 0.6em) !important;
    }
}

@media all and (min-width: 100em) and (max-width: 120em) {
    #castContent .cardScalable {
        width: calc(7.6vw - 0.6em) !important;
        height: calc(7.6vw - 0.6em) !important;
    }
}

@media all and (min-width: 87.5em) and (max-width: 100em) {
    #castContent .cardScalable {
        width: calc(9.3vw - 0.6em) !important;
        height: calc(9.3vw - 0.6em) !important;
    }
}

@media all and (min-width: 75em) and (max-width: 87.5em) {
    #castContent .cardScalable {
        width: calc(10.5vw - 0.6em) !important;
        height: calc(10.5vw - 0.6em) !important;
    }
}

@media all and (min-width: 50em) and (max-width: 75em) {
    #castContent .cardScalable {
        width: calc(15vw - 0.6em) !important;
        height: calc(15vw - 0.6em) !important;
    }
}

@media all and (min-width: 43.75em) and (max-width: 50em) {
    #castContent .cardScalable {
        width: calc(20.1vw - 0.6em) !important;
        height: calc(20.1vw - 0.6em) !important;
    }
}

@media all and (min-width: 25em) and (max-width: 43.75em) {
    #castContent .cardScalable {
        width: calc(31.2vw - 0.6em) !important;
        height: calc(31.2vw - 0.6em) !important;
    }
}

@media all and (max-width: 25em) {
    #castContent .cardScalable {
        width: calc(40vw - 0.6em) !important;
        height: calc(40vw - 0.6em) !important;
    }
}

.layout-mobile .itemExternalLinks {
    display: block !important;
}

@media (hover:hover) and (pointer:fine) {
    .skipIntro .paper-icon-button-light:hover:not(:disabled) {
        color: black !important;
        background-color: transparent !important;
    }
}

.skipIntro {
    padding: 0 1px;
    position: absolute;
    right: 10em;
    top: 80vh;
    background-color: rgba(25, 25, 25, 0.66);
    border: 1px solid;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #f9f9f9;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.skipIntro:hover {
    box-shadow: inset 400px 0 0 0 #f9f9f9;
    -webkit-transition: ease-in 1s;
    -moz-transition: ease-in 1s;
    transition: ease-in 1s;
}