#loginPage {
    background: url(https://raw.githubusercontent.com/Fallenbagel/Hint-of-Colors/main/img/Zsalrtb_digital_art_x4.png);
    background-size: cover
    top:0px; bottom: 0px;
    height: 100%;
    background-repeat: repeat;
    position: absolute;
    overflow-x: scroll;
}

.manualLoginForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

#loginPage .sectionTitle {
    display: none
}

#loginPage .button-submit {
    margin-top: 50px;
    background: #967bb6
}

#loginPage .checkboxContainer {
    display: none
}

#loginPage .emby-input:focus,
.emby-textarea:focus {
    border-color: #967bb6
}

#loginPage .inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #967bb6
}

.manualLoginForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%
}

#loginPage .sectionTitle {
    display: none
}

#loginPage .button-submit {
    margin-top: 50px;
    background: #967bb6
}

#loginPage .checkboxContainer {
    display: none
}

#loginPage .emby-input:focus,
.emby-textarea:focus {
    border-color: #967bb6
}

#loginPage .inputLabelFocused,
.selectLabelFocused,
.textareaLabelFocused {
    color: #967bb6
}

.skinHeader.semiTransparent {
    background-color: rgba(0, 0, 0, 0)
}

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
    background: 0 0;
    background-color: rgba(0, 0, 0, 0)
}

.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
    background: 0 0;
    background-color: rgba(0, 0, 0, 0)
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: #967bb6
}

@media all and (min-width:50em) {
    .homePage .emby-scroller {
        margin-right: 0
    }

    .homePage .emby-scrollbuttons {
        display: none
    }

    .homePage .itemsContainer {
        flex-wrap: wrap
    }
}

.formDialogHeader {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
}

.formDialogFooter {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.cardOverlayContainer {
    border-radius: 10px !important
}

.blurhash-canvas,
.button-flat,
.cardContent,
.cardContent-button,
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButton-hover,
.cardOverlayButtonIcon,
.cardPadder,
.chapterThumb,
.chapterThumbContainer,
.chapterThumbTextContainer,
.checkboxOutline,
.countIndicator,
.dialog,
.emby-input,
.emby-select-withcolor,
.emby-textarea,
.fab,
.headerButton,
.innerCardFooter,
.itemDetailImage,
.itemSelectionPanel,
.listItem-border,
.listItem:hover,
.listItemButton,
.listItemIcon,
.listItemImage,
.listItemImageButton,
.multiSelectCheckboxOutline,
.nowPlayingPageImage,
.paper-icon-button-light,
.paperList,
.playedIndicator,
.primaryImageWrapper>img,
.raised,
.sessionNowPlayingInnerContent,
.toast,
.upNextContainer,
.upNextDialog-poster-img,
.visualCardBox {
    border-radius: 10px !important
}

.osdPoster img {
    border-radius: 10px;
    border: none
}

.mdl-slider::-moz-range-thumb {
    border-radius: 10px
}

.mdl-slider::-ms-thumb {
    border-radius: 10px
}

.mdl-slider::-webkit-slider-thumb {
    border-radius: 10px
}

div[data-role=controlgroup] a[data-role=button]:first-child {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

div[data-role=controlgroup] a[data-role=button]:last-child {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

#dashboardPage .cardContent,
#dashboardPage .sessionNowPlayingInnerContent {
    border-radius: 10px 10px 0 0 !important
}

#divVirtualFolders .cardContent,
#divVirtualFolders .cardImageContainer {
    border-radius: 10px 10px 0 0 !important
}

#userProfilesPage .cardContent,
#userProfilesPage .cardImage {
    border-radius: 10px 10px 0 0 !important
}

.cardOverlayFab-primary {
    background-color: #00000000;
    transition: 1s
}

.cardOverlayButtonIcon {
    background-color: #00000000 !important
}

.detailLogo {
    display: none
}

.detailPagePrimaryContainer {
    background: rgba(0, 0, 0, 0) !important
}

@media all and (min-width:100em) {
    .itemBackdrop::after {
        background-color: rgba(0, 0, 0, .05)
    }
}

@media all and (min-width:32em) and (max-width:100em) {
    .itemBackdrop::after {
        background-color: rgba(0, 0, 0, .1) !important
    }

    .itemBackdrop {
        height: 10em !important;
        background-image: none !important
    }
}

.itemProgressBar {
    height: 2.5px;
    background: rgba(0, 0, 0, 0)
}

.cardIndicators {
    right: .3em;
    top: .3em
}

.paper-icon-button-light:hover {
    background-color: rgba(0, 0, 0, 0)
}

.cardOverlayButtonIcon {
    background-color: #00000000 !important
}

.cardOverlayContainer {
    background-color: rgba(0, 0, 0, .7)
}

.cardOverlayButtonIcon {
    background-color: rgba(0, 0, 0, .5) !important
}

.cardOverlayButton {
    padding: .3em
}

.secondary.listItem-overview.listItemBodyText {
    height: 61px;
    margin: 0
}

.listItemImageButton {
    margin: auto;
    font-size: 1.6em !important
}

@media all and (min-width:100em) {
    .listItemImage.listItemImage-large.itemAction.lazy {
        height: 110px
    }

    .listItem-content {
        height: 115px
    }

    .secondary.listItem-overview.listItemBodyText {
        height: 4em;
        margin: 0
    }
}

@media all and (max-width:100em) {
    .listItemImage.listItemImage-large.itemAction.lazy {
        height: 80px
    }

    .listItem-content {
        height: 85px
    }

    .secondary.listItem-overview.listItemBodyText {
        height: 2.5em;
        margin: 0
    }
}

.section0 .cardScalable {
    display: none
}

.section0 .sectionTitle {
    display: none
}

.section0 .itemsContainer {
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.section0 button.itemAction.textActionButton {
    height: 3.5em;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px
}

.section0 .overflowBackdropCard,
.section0 .overflowSmallBackdropCard {
    max-width: 9vw
}

.section0 .emby-scroller {
    margin-right: 0
}

.section0 .section0 .itemsContainer {
    flex-wrap: wrap
}

@media (max-width:75em) and (orientation:landscape) {
    .section0 {
        display: none
    }
}

@media (max-width:75em).raised.homeLibraryButton:hover {
    transition: filter 1s
}

.raised.homeLibraryButton {
    transition: filter 1s
}

.homeLibraryButton {
    min-width: 12em;
    margin: .4em
}

#loginPage .readOnlyContent,
#loginPage form {
    max-width: 44em
}

#loginPage h1 {
    display: none
}

#loginPage .padded-left.padded-right.padded-bottom-page {
    margin-top: 50px
}

.material-icons.headerButton.headerButtonRight.headerUserButton.paper-icon-button-light {
    display: none
}

.trackSelections {
    max-width: 22em
}

#scenesCollapsible {
    display: none
}


@media all and (min-width:50em) {
    .homePage .emby-scroller {
        margin-right: 0
    }

    .homePage .homePage .itemsContainer {
        flex-wrap: wrap
    }
}

.headerTabs.sectionTabs {
    text-size-adjust: 110%;
    font-size: 110%
}

.pageTitle {
    margin-top: auto;
    margin-bottom: auto
}

.emby-tab-button {
    padding: 1.75em 1.7em
}

.itemDetailPage .moreFromSeasonSection {
    display: none !important
}

@media only screen and (max-device-width:429px) and (max-device-height:927px) and (-webkit-device-pixel-ratio:3) {
    .layout-mobile #itemDetailPage .detailLogo {
        height: 35%;
        top: 21%
    }
}

@media only screen and (max-device-width:391px) and (max-device-height:845px) and (-webkit-device-pixel-ratio:3) {
    .layout-mobile #itemDetailPage .detailLogo {
        top: 28%
    }
}

@media only screen and (max-device-width:376px) and (max-device-height:813px) and (-webkit-device-pixel-ratio:3) {
    .layout-mobile #itemDetailPage .detailLogo {
        top: 33%
    }
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 100;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 300;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 400;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 700;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 800;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff) format('woff')
}

@font-face {
    font-family: 'Netflix Sans';
    font-weight: 900;
    src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2) format('woff2'), url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff) format('woff')
}

body,
h1,
h2,
h3,
h4 {
    font-family: 'Netflix Sans' !important
}

.videoSubtitles {
    font-family: 'Netflix Sans', sans-serif !important;
    font-weight: 700 !important;
    text-shadow: 0 0 8px #000 !important
}

video::-webkit-media-text-track-display {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #000 0 0 .2em !important
}

video::-webkit-media-text-track-container {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #000 0 0 .2em !important
}

video:cue {
    font-family: "Netflix Sans", sans-serif !important;
    font-weight: 700 !important;
    text-shadow: #000 0 0 .2em !important
}

#itemDetailPage .detailLogo {
    position: relative;
    margin-left: 56.5%;
    display: block;
    -webkit-filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
    filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
    flex-shrink: 0;
    background-position: 0 50%;
    margin-bottom: -8vh;
    margin-top: 2em;
    max-height: 100px;
}

#itemDetailPage .detailPagePrimaryContent {
    position: relative;
    margin-top: -5vh;
}

.layout-desktop .detailRibbon {
    margin-top: 0
}

.layout-mobile .detailRibbon {
    margin-top: 0 !important
}

.layout-mobile .detailLogo {
    display: none !important
}

.layout-mobile .detailPagePrimaryContainer.padded-left.padded-right.detailRibbon {
    padding-top: 4.5rem !important
}

.hide+.detailPageWrapperContainer .itemName {
    display: block !important
}

.itemName {
    margin: .5em 0 !important
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
    display: block
}

.backdropImage {
    filter: blur(100px) saturate(170%) contrast(150%) brightness(50%)
}

.backgroundContainer.withBackdrop {
    background-color: rgba(115, 79, 150, .3)
}

.layout-desktop .itemBackdrop::after {
    opacity: 0;
    margin-top: -30px
}

.innerCardFooter.fullInnerCardFooter.innerCardFooterClear {
    border-radius: 0 !important;
    background: rgba(0, 0, 0, .7)
}

.itemProgressBar {
    height: 2000em;
    background: #0000
}

.playbackProgress>div {
    background-color: rgba(0, 0, 0, .75)
}

.itemProgressBarForeground,
.transcodingProgress>div {
    background-color: rgba(0, 0, 0, .3)
}

.innerCardFooter.fullInnerCardFooter.innerCardFooterClear {
    border-radius: 0 !important;
    background: rgba(0, 0, 0, 0)
}

.button-link {
    color: #c395E4
}

@media (hover:hover) and (pointer:fine) {
    .paper-icon-button-light:hover:not(:disabled) {
        color: #E8BFFB;
        background-color: rgba(115, 79, 150, .2)
    }
}

.emby-select,
.emby-select-withcolor {
    background-color: rgba(220, 208, 255, .2);
    border-style: hidden
}

.mdl-slider-background-lower {
    background-color: #E8BFFB
}

.mdl-slider::-moz-range-thumb {
    background: #E8BFFB
}

.mdl-slider::-ms-thumb {
    background: #E8BFFB
}

.mdl-slider::-webkit-slider-thumb {
    background: #E8BFFB
}

.iconOsdProgressInner {
    background: #E8BFFB
}

.videoOsdBottom {
    background: rgba(0, 0, 0, .7);
    padding-top: 1em
}

.upNextDialog-countdownText {
    color: #E8BFFB
}

.navMenuOption:hover {
    background: rgba(220, 208, 255, .2)
}

.block {
    background-color: #967bb6
}

.checkboxIcon-checked {
    background-color: #967bb6;
    border-style: none
}

.emby-checkbox:checked+span+.checkboxOutline {
    background-color: #967bb6;
    border-style: none
}

.defaultCardBackground1 {
    background-color: #9d92db
}

.defaultCardBackground2 {
    background-color: #BBBEFE
}

.defaultCardBackground3 {
    background-color: #E6DCFF
}

.defaultCardBackground4 {
    background-color: #D099E2
}

.defaultCardBackground5 {
    background-color: #E8BFFB
}

.navMenuOption-selected {
    background-color: #E8BFFB !important
}

:root {
    --swiper-theme-color: #967bb6
}

progress {
    background: rgba(0, 0, 0, .5) !important;
    border: 1px solid rgba(177, 156, 217, .22)
}

progress::-webkit-progress-bar {
    background: rgba(0, 0, 0, .5) !important;
    border: 0 solid rgba(177, 156, 217, .22)
}

progress::-moz-progress-bar {
    background-color: rgba(177, 156, 217, .75)
}

progress::-webkit-progress-value {
    background-color: rgba(177, 156, 217, .75)
}

#divRunningTasks span {
    color: rgba(177, 156, 217, .75) !important
}

.taskProgressOuter {
    background: rgba(0, 0, 0, .5) !important;
    border: 1px solid rgba(177, 156, 217, .22)
}

.taskProgressInner {
    background: rgba(177, 156, 217, .75) !important
}

#scheduledTasksPage span {
    color: rgba(177, 156, 217, .75) !important
}

.progressring-spiner {
    border-color: #E8BFFB;
    border-width: .35em
}

.progressring {
    margin: .4em
}

.progressring-bg {
    display: none
}

.blurhash-canvas {
    filter: opacity(60%) saturate(60%)
}

div[data-role=controlgroup] a.ui-btn-active {
    background: rgba(0, 0, 0, .5) !important;
    color: #fff !important
}

a[data-role=button]:hover {
    background: rgba(187, 190, 254, .8) !important
}

div[data-role=controlgroup] a[data-role=button]+a[data-role=button] {
    margin: 0 !important
}

.button-submit:hover {
    background: rgba(187, 190, 254, .8)
}

.cardOverlayButtonIcon:hover {
    background-color: rgba(187, 190, 254, .5) !important
}

.cardOverlayButtonIcon {
    background-color: rgba(0, 0, 0, 0) !important
}

.cardOverlayContainer {
    background-color: rgba(0, 0, 0, .3)
}

.button-flat:hover {
    color: #967bb6
}

.actionSheetMenuItem:hover {
    background-color: #967bb6
}

.listItemIcon:not {
    background-color: #967bb6 !important
}

.dashboardFooter {
    display: none
}

.button-submit:focus {
    background-color: #967bb6
}

.toastVisible {
    color: #967bb6;
    background: #c5c5e4
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .backdropImage {
            filter: none
        }

        .backgroundContainer.withBackdrop {
            background-color: rgba(0, 0, 0, .7)
        }
    }
}

.inputLabelFocused {
    color: #E8BFFB
}

.listItemIcon {
    background-color: #967bb6 !important
}

.mdl-spinner__layer-1 {
    border-color: #967bb6
}

.mdl-spinner__layer-2 {
    border-color: #c395E4
}

.mdl-spinner__layer-3 {
    border-color: #E8BFFB
}

.mdl-spinner__layer-4 {
    border-color: #EFCFFB
}

.countIndicator,
.fullSyncIndicator,
.playedIndicator {
    background: rgba(115, 79, 150, .6);
    color: #fff
}

.playedIndicator {
    background: rgba(115, 79, 150, .6);
    color: #fff
}

.textActionButton:hover {
    text-decoration: none !important;
    color: #E8BFFB !important
}

.listItemIcon-transparent {
    background-color: rgba(0, 0, 0, 0) !important
}

.volume_off {
    color: #E8BFFB !important
}

.dialog {
    background-color: #5F4180
}

.listItem-border {
    border-style: none
}

.endsAt,
.endsAtText {
    display: none !important
}

.playstatebutton-icon-played {
    color: #c395E4
}

.playstatebutton-icon-played:hover {
    color: #967bb6
}

:not(.detailImageContainer)>.card:not(.overflowSquareCard) .cardImageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-size: cover;
    transition: .4s
}

:not(.detailImageContainer)>.card:not(.overflowSquareCard):hover .cardImageContainer::before {
    transform: scale(1.02)
}

:not(.detailPageSecondaryContainer)>.card:not(.overflowSquareCard) .cardImageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    background-size: cover;
    transition: .4s
}

:not(.detailPageSecondaryContainer)>.card:not(.overflowSquareCard):hover .cardImageContainer::before {
    transform: scale(1.02)
}

.button-accent-flat {
    color: #c395E4 !important
}

.jstree-default .jstree-wholerow-clicked {
    background: #c395E4 !important
}

.metadataSidebarIcon {
    color: #967bb6
}

.jstree-wholerow-hovered {
    background: #c395E4 !important
}

.collapseContent,
.formDialogFooter:not(.formDialogFooter-clear),
.formDialogHeader:not(.formDialogHeader-clear),
.paperList,
.visualCardBox {
    background-color: rgba(0, 0, 0, 0) !important
}

.ratingbutton-icon-withrating {
    color: #967bb6
}

.playerStats-stat-label,
.sectionTitleTextButton:hover {
    color: #E8BFFB !important
}

.selectionCommandsPanel {
    background: #967bb6
}

.itemSelectionPanel {
    border-top-color: #967bb6;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: #967bb6;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: #967bb6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: #967bb6;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1
}

.button-submit {
    background: #967bb6
}

.overview-expand emby-button:hover {
    color: #967bb6
}

#btnShutdown.raised.emby-button:hover,
#deviceDeleteAll.raised.button-alt.headerHelpButton.emby-button:hover {
    color: red;
    background: pink
}

#btnRestartServer.raised.emby-button:hover {
    color: #e27802;
    background: #fcecdd
}

.raised.btnRefresh.emby-button:hover {
    color: #293b5f;
    background: #dbe6fd
}

.raised.emby-button:hover {
    color: #a688ca;
    background: #EFCFFB
}

.fab.btnAddDevice.submit.sectionTitleButton.emby-button:hover,
.fab.btnAddProvider.submit.emby-button:hover,
.fab.btnAddUser.submit.sectionTitleButton.emby-button:hover {
    color: #21094e;
    background: #beaee2
}

.sessionCardFooter.cardFooter,
.visualCardBox-cardFooter {
    font-family: 'Netflix Sans';
    font-size: larger;
    color: #ffffff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px
}

.emby-checkbox-label:hover {
    color: #E8BFFB
}

.videoOsdBottom {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)) !important
}

.headerTop {
    background-color: rgba(0, 0, 0, 0) !important;
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)) !important
}

.sliderBubble {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #967bb6;
    background: #E8BFFB;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2)
}

.subtitleSyncContainer {
    background: rgba(0, 0, 0, .5)
}

/*Tweak series/movie/album title screen*/
.detailImageContainer .card {
    position: fixed;
}

.detailSectionContent {
    max-width: 66em;
}

.trackSelections {
    max-width: 22em;
}

.detailLogo {
  width: 35vw;
  height: 16vh;
}

.detailPagePrimaryContainer {
    background: rgba(0, 0, 0, 0) !important;
}

.layout-desktop .detailRibbon {
    background: rgba(0, 0, 0, 0) !important;
}

@media all and (min-width: 32em) {
    .itemBackdrop {
        display: none;
    }

    .layout-desktop .detailRibbon {
        margin-top: 15vh;
    }
}

.layout-mobile .detailLogo {
    display: none !important;
}

#itemDetailPage .itemName.infoText.parentNameLast, #itemDetailPage .parentName.focuscontainer-x {
    display: none;
}

.hide+.detailPageWrapperContainer .itemName {
    display: block !important;
}

.itemName {
    margin: .5em 0 !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
    display: block;
}

/*Shrink and square (or round) cast thumnails*/
@media all and (min-width: 131.25em) {
    #castContent .card.overflowPortraitCard {
        width: 6.3vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 120em) and (max-width: 131.25em) {
    #castContent .card.overflowPortraitCard {
        width: 6.4vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 100em) and (max-width: 120em) {
    #castContent .card.overflowPortraitCard {
        width: 7.6vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 87.5em) and (max-width: 100em) {
    #castContent .card.overflowPortraitCard {
        width: 9.3vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 75em) and (max-width: 87.5em) {
    #castContent .card.overflowPortraitCard {
        width: 10.5vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 50em) and (max-width: 75em) {
    #castContent .card.overflowPortraitCard {
        width: 15vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 43.75em) and (max-width: 50em) {
    #castContent .card.overflowPortraitCard {
        width: 20.1vw !important;
        font-size: 90% !important;
    }
}

@media all and (min-width: 25em) and (max-width: 43.75em) {
    #castContent .card.overflowPortraitCard {
        width: 31.2vw !important;
        font-size: 90% !important;
    }
}

@media all and (max-width: 25em) {
    #castContent .card.overflowPortraitCard {
        width: 40vw !important;
        font-size: 90% !important;
    }
}

.cardPadder {
    background-color: #0000 !important;
    box-shadow: none !important;
}

/*Correct image aspect ratio behaviour, set border-radius to zero for square tiles*/

@media all and (min-width: 131.25em) {
    #castContent .cardScalable {
        width: calc(6.3vw - 0.6em) !important;
        height: calc(6.3vw - 0.6em) !important;
    }
}

@media all and (min-width: 120em) and (max-width: 131.25em) {
    #castContent .cardScalable {
        width: calc(6.4vw - 0.6em) !important;
        height: calc(6.4vw - 0.6em) !important;
    }
}

@media all and (min-width: 100em) and (max-width: 120em) {
    #castContent .cardScalable {
        width: calc(7.6vw - 0.6em) !important;
        height: calc(7.6vw - 0.6em) !important;
    }
}

@media all and (min-width: 87.5em) and (max-width: 100em) {
    #castContent .cardScalable {
        width: calc(9.3vw - 0.6em) !important;
        height: calc(9.3vw - 0.6em) !important;
    }
}

@media all and (min-width: 75em) and (max-width: 87.5em) {
    #castContent .cardScalable {
        width: calc(10.5vw - 0.6em) !important;
        height: calc(10.5vw - 0.6em) !important;
    }
}

@media all and (min-width: 50em) and (max-width: 75em) {
    #castContent .cardScalable {
        width: calc(15vw - 0.6em) !important;
        height: calc(15vw - 0.6em) !important;
    }
}

@media all and (min-width: 43.75em) and (max-width: 50em) {
    #castContent .cardScalable {
        width: calc(20.1vw - 0.6em) !important;
        height: calc(20.1vw - 0.6em) !important;
    }
}

@media all and (min-width: 25em) and (max-width: 43.75em) {
    #castContent .cardScalable {
        width: calc(31.2vw - 0.6em) !important;
        height: calc(31.2vw - 0.6em) !important;
    }
}

@media all and (max-width: 25em) {
    #castContent .cardScalable {
        width: calc(40vw - 0.6em) !important;
        height: calc(40vw - 0.6em) !important;
    }
}

.layout-mobile .itemExternalLinks {
    display: block !important;
}

@media (hover:hover) and (pointer:fine) {
    .skipIntro .paper-icon-button-light:hover:not(:disabled) {
        color: black !important;
        background-color: rgba(115, 79, 150, 0) !important;
    }
}

.skipIntro {
    padding: 0 1px;
    position: absolute;
    right: 10em;
    top: 80vh;
    background-color: rgba(25, 25, 25, 0.66);
    border: 1px solid;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #f9f9f9;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.skipIntro:hover {
    box-shadow: inset 400px 0 0 0 #f9f9f9;
    -webkit-transition: ease-in 1s;
    -moz-transition: ease-in 1s;
    transition: ease-in 1s;
}